:root{
    --side-bar-font-size: 32px;
    --todo-title-size: 42px;
    --todo-para-size: 24px;
    --hint-text-sz: 32px;
 
    --dialog-bs-padding: 12px;
    --dialog-bs-width: 500px;
    --dialog-bs-height: 600px;

    --cancel-btn-bg-col: linear-gradient(to right, #64965e, #81ff8a);
    --confirm-btn-bg-col: linear-gradient(to right, #ff025e, #d70652);

    --proj-dialog-title-sz: 48px;
    --proj-dialog-input-sz: 24px;
    --delDialog-normal-sz: 32px;
    --delDialog-emp-sz: 52px;
/* 
    --todo-title-sz: 36px;
    --todo-des-sz: 24px; */
    --todo-status-green: brightness(0) saturate(100%) invert(69%) sepia(37%) saturate(526%) hue-rotate(42deg) brightness(90%) contrast(87%);;
    --todo-status-red: brightness(0) saturate(100%) invert(16%) sepia(43%) saturate(6678%) hue-rotate(355deg) brightness(98%) contrast(123%);
    --todo-status-yellow: brightness(0) saturate(100%) invert(83%) sepia(46%) saturate(336%) hue-rotate(356deg) brightness(102%) contrast(103%);

    --green: #e0ffcd;
    --yellow: #fdffcd;
    --orange: #ffebbb;
    --red: #ffcab0;
    --blue: #bbe4e9;

    --p1-col: #cdb4db;
    --p2-col: #ffc8dd;
    --p3-col: #ffafcc;  
    --p4-col: #bde0fe;
    --p5-col: #a2d2ff;
    --p6-col: #00000000;
    --p7-col: #808080;

    --p1-col-light: #cdb4db55;
    --p2-col-light: #ffc8dd55;
    --p3-col-light: #ffafcc55;  
    --p4-col-light: #bde0fe55;
    --p5-col-light: #a2d2ff55;
    --p6-col-light: #00000000;
    --p7-col-light: #80808055;

    --dim-text: #696969;

    --base-font-family: 'kk', 'Times New Roman', Times, serif;

}

@font-face {
    font-family: 'kk';
    src: url('./asset/kranky-regular.woff2') format('woff2'),
         url('./asset/kranky-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;

    font-size: var(--side-bar-font-size, 32px);
    font-family: var(--base-font-family, 'kk');

    .projCont{
        display: grid;
        grid-auto-rows: calc(85vh / 6);
        max-height: 85%;
        overflow-y: auto;
        .projDIV{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color);
            .deleteIcon{
                position: absolute;
                top: 3%;
                right: 3%;
                width: 10%;
                height: 10%;
            }
            &[selected]{
                color: white;
                background-color: var(--color);
            }
        }
    }

    .projBtn {
        min-width: 0;
        min-height: 0;
        height: 10%;
    }
}

.mainPanel{
    display: flex;
    flex-direction: column;
    height: 100%;

    .tdWin{
        display: flex;
        flex-direction: column;
        max-height: 85%;
        overflow-y: auto;
        .priCont{
            display: grid;
            grid-auto-rows: 185px;
            row-gap: 0.5rem;
            position: relative;
            border: 3px solid var(--theme-color-light); 
            &::after {
                position: absolute;
                left: 20px;
                top: 20px;
                content: var(--content);
                color: var(--theme-color);
            }       
            .todoDIV{
                display: grid;
                position: relative;
                align-items: center;
                grid-template-columns: 1fr 6fr 1fr 6fr;
                gap: 10%;
                font-size: var(--todo-para-size);
                .title {
                    font-size: var(--todo-title-size);
                    font-weight: bold;
                    overflow: auto;
                }
                .doneBtn {
                    place-self: center;
                }

                :is(.statusIcon, .statusDes)[status=good] {
                    filter: var(--todo-status-green);
                }
                :is(.statusIcon, .statusDes)[status=mid] {
                    filter: var(--todo-status-yellow);
                }
                :is(.statusIcon, .statusDes)[status=bad] {
                    filter: var(--todo-status-red);
                }
                
                .expandIcon {
                    width: 45px;
                    height: 45px;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    &:hover {
                        filter: brightness(60%);
                    }
                }
            }
            .todoDIV.done{
                text-decoration-line: line-through;
                text-decoration-color: var(--dim-text);
                text-decoration-thickness: 1.5px;
                color: var(--dim-text);
                .doneBtn {
                    filter: invert(1);
                }
            }
        }

        .emptyHint {
            font-style: italic;
            font-size: var(--hint-text-sz);
        }
    }
    .tdBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        transition: transform 0.2 ease-in-out;
        will-change: transform;
        &:hover{
            transform: scale(1.08);
        }
    }
    

}

body {
    display: grid;
    grid-template-columns: 3fr 7fr;

    width: 100%;
    height: 100vh;

    overflow: hidden;
}

/* dialogs styles */
.projDialog{
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.25);
    }
    padding: var(--dialog-bs-padding);
    width: var(--dialog-bs-width);
    height: var(--dialog-bs-height);
    .projForm {
        display: grid;
        grid-template-rows: 3fr 1fr 1fr 1fr 2fr 5fr;
        /* add proj title */
        &>p:nth-child(1) {
            font-weight: bold;
            font-size: var(--proj-dialog-title-sz);
        }
        .colorRadio {
            accent-color: var(--color-fill);
        }
        .colorLabel{
            color: var(--color-fill);
        }
    }

}

.deleteDialog[open] {
    display: grid;
    padding: var(--dialog-bs-padding);
    width: var(--dialog-bs-width);
    height: var(--dialog-bs-height);
    grid-template: 1fr 3fr 3fr / 1fr 1fr;
    /* make sure have good layout */
    font-size: var(--delDialog-normal-sz);
    .projName, .itemsCount{
        font-weight: bold;
        font-size: var(--delDialog-emp-sz);
    }
    .title, .disclaimer {
        grid-row-start: span 2;
    }
    row-gap: 10%;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.25);
    }
    &>button:first-of-type {
        background: var(--cancel-btn-bg-col);
    }

    &>button:last-of-type {
        background: var(--confirm-btn-bg-col);
    }
}

.toDoDialog{
    padding: var(--dialog-bs-padding);
    width: var(--dialog-bs-width);
    height: var(--dialog-bs-height);
    font-size: var(--delDialog-normal-sz);
    .toDoForm {
        display: grid;
        place-items: center;
        grid-template: 3fr repeat(8, 1fr) 3fr; 
        p {
            font-size: var(--delDialog-emp-sz);
            font-weight: bold;
            justify-self: flex-start;
        }
        .btnCont {
            display: flex;
            justify-content: space-around;
            &>button:first-child{
                background: var(--cancel-btn-bg-col);
            }
            &>button:last-child{
                background: var(--confirm-btn-bg-col);
            }
        }
    }
}


